<!DOCTYPE html>
<html>
  <head>
    <title>Metro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Application JavaScript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Alerts and flashes Flashes -->
    <script>
      Materialize.toast('<%= notice %>', 4000);
      Materialize.toast('<%= alert %>', 4000, 'red');
    </script>
  </body>
</html>
