<!DOCTYPE html>
<html>
  <head>
    <title>Metro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="orangered" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
          <i class="fa fa-subway" aria-hidden="true"></i>
          metro
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li><a href="/users/sign_in">Sign In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/users/sign_in">Sign In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <!-- Alert Flashes -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
